.widget-body
  .widget-main
    %h4.header.green.lighter.bigger
      %i.fa.fa-icon-group.icon-group.blue
      New User Registration
    .space-6
    %p Enter your details to begin:
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      %fieldset
        = devise_error_messages!
        %label.block.clearfix
          %span.block.input-icon.input-icon-right
            = f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Email'
            %i.fa.fa-envelope.icon-envelope
        %label.block.clearfix
          %span.block.input-icon.input-icon-right
            = f.password_field :password, :class => 'form-control', :placeholder => 'Password'
            %i.fa.fa-lock.icon-lock
        %label.block.clearfix
          %span.block.input-icon.input-icon-right
            = f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Repeat Password'
            %i.fa.fa-retweet.icon-retweet
        .space-24
        .clearfix
          %button{ :class => 'width-30 pull-left btn btn-sm', :type => 'reset'}
            %i.fa.fa-refresh.icon-refresh
            Reset
          %button{ :class => 'width-65 pull-right btn btn-sm btn-success', :type => 'submit'}
            Register
            %i.fa.fa-arrow-right.fa-on-right.icon-arrow-right.icon-on-right
  .toolbar.center
    = link_to '#', onclick: "show_box('login-box'); return false;", class: 'back-to-login-link' do
      %i.fa.fa-arrow-left.icon-arrow-left
      Back to login