
= content_for :page_specific_scripts do
  = javascript_include_tag "customers"
  :javascript
    var grid_data = #{@customers.to_json};
    var state_list = "#{@states.to_s}";
    jQuery(function($) {
      var grid_selector = "#customers-table";
      var pager_selector = "#customers-pager";

      jQuery(grid_selector).jqGrid({
        data: grid_data
      });
    });
%div.page-content
  %div.page-header
    %h1 Listing Customers
  .row
    .col-xs-12
      %table#customers-table
        #customers-pager

= link_to 'New Customer', new_customer_path