
= content_for :page_specific_scripts do
  = javascript_include_tag "agreements"
  :javascript
    var grid_data = #{@agreements.to_json};
    var customer_list = "#{@customers.to_s}";
    var vendor_list = "#{@vendors.to_s}";
    jQuery(function($) {
      var grid_selector = "#agreements-table";
      var pager_selector = "#agreements-pager";

      jQuery(grid_selector).jqGrid({
        data: grid_data
      });
    });
%div.page-content
  %div.page-header
    %h1 Listing Agreements
  .row
    .col-xs-12
      %table#agreements-table
        #agreements-pager

= link_to 'New Agreement', new_agreement_path