!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'RailsApp'
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "devise", media: "all"
    /[if IE 7]
      = stylesheet_link_tag "ie/font-awesome-ie7.min"

    /[if IE 8]
      = stylesheet_link_tag "ie/ace-ie.min"
    = csrf_meta_tags

  %body.login-layout
    .main-container
      .main-content
        .row
          .col-sm-10.col-sm-offset-1
            .login-container
              .center
                %h1
                  %i.icon-leaf.green
                  %span.red Ace
                  %span.white Application
                  %h4.blue &copy; Company Name
              .space-6
              .position-relative
                =yield
    :plain
      <!--[if !IE]> <!-->
    :javascript
      window.jQuery || document.write("#{escape_javascript javascript_include_tag 'jquery-2.0.3.min'}");
    /<![endif]
    :plain
      <!--[if IE] -->
    :javascript
      window.jQuery || document.write("#{escape_javascript javascript_include_tag 'jquery-1.10.2.min'}");
    /<![endif]
    :javascript
      if("ontouchend" in document) document.write("#{escape_javascript javascript_include_tag 'jquery.mobile.custom.min'}");
    = javascript_include_tag "application"
    :javascript
      function show_box(id) {
      jQuery('.widget-box.visible').removeClass('visible');
      jQuery('#'+id).addClass('visible');}
